
@media (min-width: 100px) and (max-width: 700px)
{ 
    nav {
        font-size: 12px;
      }
    .menu-deroulant > a:after{
    font-size: 10px;
    }
    .titre{
        font-size: 12px;
      }
    :root{
        --hauteur-menu: 20px;
    }

    /* accueil */

    
}

@media (min-width: 700px) and (max-width: 1000px)
{ 
    nav {
        font-size: 16px;
      }
    .menu-deroulant > a:after{
    font-size: 14px;
    }
    .titre{
        font-size: 16px;
      }
    :root{
        --hauteur-menu: 30px;
    }
}


@media (min-width: 1000px) and (max-width: 1250px)
{ 
    nav {
        font-size: 20px;
      }
    .menu-deroulant > a:after{
    font-size: 16px;
    }
    .titre{
        font-size: 20px;
      }
    :root{
        --hauteur-menu: 40px;
    }

}


@media (min-width: 1250px) and (max-width: 1685px)
{ 
    nav {
        font-size: 24px;
      }
    .menu-deroulant > a:after{
    font-size: 20px;
    }
    .titre{
        font-size: 24px;
      }
    :root{
        --hauteur-menu: 50px;
    }

}


/* 1440p screen */
@media (min-width: 2100px) and (max-width: 3000px)
{ 
    nav {
        font-size: 40px;
      }
    .menu-deroulant > a:after{
    font-size: 34px;
    }
    .titre{
        font-size: 40px;
      }
    :root{
        --hauteur-menu: 80px;
    }

}

/* 4K screen */
@media (min-width: 3000px)
{ 
    nav {
        font-size: 50px;
      }
    .menu-deroulant > a:after{
    font-size: 40px;
    }
    .titre{
        font-size: 60px;
      }
    :root{
        --hauteur-menu: 100px;
    }  
}
